/* Application Styles */

html {
	font-family: "Roboto Mono", monospace;
	font-size: 62.5%;
}

p,section, a, input, button {
	font-size: 3.6rem;
}

header {
	font-size: 4.8rem;
    background-color: #000000;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}

header:after {
	content: 'Home';
    display: block;
    position: absolute;
    top: 6rem;
    right: 1rem;
    color: black;
    border: 1px solid;
    border-radius: 4px;
    padding: 0.5rem;
}

header:hover:after {
	color: #fff;
	background-color: #000;
	border: 0
}

#headerLink {
	text-decoration: none;
}

.hidden {
	display: none;
}

#pageContainer {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}

#actionQuery {
	text-align: center;
	margin-top: 2rem;
}

#actionBtns {
	display: flex;
    justify-content: center;
}

.actionLink {
	border-radius: 3px;
	box-shadow: 0 2px 2px 0 rgba(60,64,67,.08), 0 2px 5px 4px rgba(60,64,67,.16);
	text-decoration: none;
	padding: 5rem;
	margin: 2rem 2rem;
}

.actionLink:hover {
	background-color: #F5F5F5;
}

.inputContainer {
	text-align: center;
	margin: 5rem 0;
}

button {
    margin: 4rem auto;
    display: block;
    border-radius: 4px;
    cursor: pointer;
    background-color: #50AE54;
}

/*#votingScheduled {
	display: flex;
    flex-direction: column;
    align-items: center;
}*/

#votingScheduled section{
	margin: 2rem 0;
}

th, td {
	border: 1px solid #ccc;
	padding: 1rem;
}

#userVotingInProgress p{
	margin: 3rem 0;
}

#votingForm legend {
	margin: 1rem 0;
}

#votingForm fieldset section {
	display: flex;
	align-items: center;
	margin: 2rem 0;
}

#chart_div div[dir=ltr]{
	margin: 0 auto;
}